html{
    height: 100%;
}

body{
    min-height: 100%;
    position: relative;
    background-color: #cdcebe;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

input, select, textarea, button{
    outline: none;
}


/* Header */

header > .header__city-choice{
    background-color: #f7f7f7;
    padding: 11px 40px;
}

header > .header__city-choice span{
    font-family: Tahoma, sans-serif;
    color: #8d8d8d;
}

header > .header__city-choice a{
    font-family: Tahoma, sans-serif;
    color: #7ead2b;
}

.header__middle-block{
    background-color: #fff;
    padding: 17px 40px;
}

.header__logo-slogan, .header__phone, .header__middle-block__nav{
    display: inline-block;
    vertical-align: middle;
}

.header__middle-block__nav{
    width: 20%;
}

.header__middle-block > .header__middle-block__nav > ul{
    padding-left: 0;
    list-style: none;
}

.header__middle-block > .header__middle-block__nav > ul > li{
    display: inline-block;
}

.header__middle-block > .header__middle-block__nav > ul > li > a{
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    color: #6a6a6a;
    border-right: 2px solid  #a7a7a7;
    padding-right: 11px;
    padding-left: 11px;
}

.header__middle-block > .header__middle-block__nav > ul > li:first-child > a{padding-left: 0;}
.header__middle-block > .header__middle-block__nav > ul > li:last-child > a{padding-right: 0; border-right: none;}

.header__logo-slogan{
    width: 59%;
}

.header__middle-block > .header__logo-slogan > img{
    float: left;
    padding-left: 70px;
}

.header__middle-block > .header__logo-slogan > p{
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color: #686868;
    text-align: center;
}

.header__middle-block > .header__logo-slogan > p > span{
    color: #73a625;
}

.header__middle-block > .header__phone{
    width: 20%;
    text-align: right;
}

.header__middle-block > .header__phone > p{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #6a6a6a;
    margin-bottom: 0;
}

.header__middle-block > .header__phone > button{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    background-color: #f39300;
    border: none;
    padding: 10px 0;
    width: 96%;
}

.header__nav{
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f7f7f7;
}

.header__nav .header__nav__menu{
    width: 75%;
}

.header__nav__menu, .header__nav__search-and-basket{
    display: inline-block;
    vertical-align: middle;
}

.header__nav .header__nav__menu > ul{
    list-style: none;
    padding-left: 0;
}

.header__nav .header__nav__menu > ul > li{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border-right: 2px solid  #ececec;
    padding-right: 29px;
    padding-left: 29px;
}

.header__nav .header__nav__menu > ul > li:first-child a{border-left: 2px solid  #ececec;}


.header__nav .header__nav__menu > ul > li > a{
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    color: #686868;
    /*border-right: 2px solid  #ececec;
    padding-right: 29px;
    padding-left: 29px;*/
    display: block;
}

.header__nav__search-and-basket{
    width: 24%;
}

.header__nav__search-and-basket > .header__nav__search__skin{
    width: 227px;
    position: relative;
}

.header__nav__search-and-basket > .header__nav__search__skin:after{
    content: "";
    display: block;
    w
}

.header__nav__search-and-basket > .header__nav__search__skin > input{
    border: 1px solid  #686868;
    width: 100%;
}
